@import url('https://fonts.googleapis.com/css2?family=Forum&family=Noto+Sans:ital,wght@1,100&family=Work+Sans&display=swap');

.maketforfigma{
    flex: 0 0 auto;
    background: #313a46;
    font-weight: bold;
    display: flex;
}
.maketforfigma img{
    border-radius: 10px;
    margin: 4px 0 0 4px;
}
.maketforfigma p {
    color: #98a6ad;
    text-decoration: none;
    letter-spacing: .01875rem;
    font-size: .775rem;
    padding: 0 10px;
    line-height: 0.70rem;
}
.maketforfigma p > a {
    color: #bbe4f0;
    font-weight: bold;
}
.maketforfigma p > a:hover {
    color: #ffffff
}
.main{
    flex: 1 0 auto;
}
html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
}


.headt {
font-family: 'Work Sans' !important;
font-style: normal !important;
font-weight: 400;
font-size: 1vw !important;

color: #FFFFFF;

}

.headt1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 5vw;
    color: #FFFFFF;
    
    }
    

.trans:hover {
    transition: 0.2s;
    transform: scale(1.15);
}

.kn {
    background-color: white !important;
}

.ots {
    margin-left: 5vw !important;
}


.headt2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 6vw;
    line-height: 8vw;
    color: #FFFFFF;
    
    }


.fots {
    margin-bottom: 1vw !important;
}

.of {
font-family: 'Work Sans' !important;
font-style: normal !important;
font-weight: 400;
font-size: 1.2vw !important;

color: #FFFFFF !important;
}


